@font-face {
  font-family: Hurmit Nerd Font;
  font-style: normal;
  src: url(./fonts/HurmitNerdFont.otf);
}
@font-face {
  font-family: Mintsoda;
  font-style: normal;
  src: url(./fonts/mintsoda.ttf);
}

.floating-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  height: 60vh;
  top: 20%;
  background-color: white;
  font-size: 1.5rem;
  padding: 2%;
}

#close-button {
  font-size: 1.5rem;
  position: absolute;
  opacity: 90%;
  color: #191a1a;
  margin: 0;
  align-self: flex-end;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-container * {
  font-size: 1.5rem;
  padding: 5%;
  margin: 2%;
}
.check-label {
  display: flex;
  align-items: center;
}
.check-label input {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.faq.settings-button {
  color: black;
  background-color: #fff;
}
.day-calendar.week-day-container {
  height: 45px !important;
}
.seeya {
  background-color: #4b4b4b;
}
.danger {
  background-color: #c02f56;
}
.settings-button {
  font-size: 1.2rem;
  width: 20vw;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#hamburger {
  display: none;
}
:root {
  --border-top-size: 25px;
  --bg-dark: #191a1a;
  --fg-light: #f0e9f4;
  --fg-darker: #c9b6d4;
  --color-accent: #fcbff7;
  --border-width: 0.3rem;
  --platform-color: #ffa94d;
  --moodle-color: #ffa94d;
  --classrroom-color: #d4b238;
  --idle-color: #9e8fcd;
  --semester-color: #9e8fcd;
  --semester-fgcolor: #9e8fcd;
}

.first {
  --semester-color: #e6d0f5;
}

.second {
  --semester-color: #ccf6d9;
}

.third {
  --semester-color: #a0e7e5;
}

.fourth {
  --semester-color: #ffaebc;
}

.fifth {
  --semester-color: #faddad;
}

.sixth {
  --semester-color: #2e2e2e;
}

.seventh {
  --semester-color: #fd990d;
}

.eighth {
  --semester-color: #ab1d4f;
}

.ninth {
  --semester-color: #fbd9da;
}

.tenth {
  --semester-color: #fbd9da;
}

.moodle {
  --platform-color: var(--moodle-color);
}

.classroom {
  --platform-color: var(--classrroom-color);
}

* {
  box-sizing: border-box;
  color: var(--fg-light);
  margin: 0;
  padding: 0;
  font-family: Hurmit Nerd Font;
}
body,
html {
  background-color: var(--bg-dark);
}
main {
  padding: 2rem 12rem;
  overflow: hidden;
}
main .text-title * {
  color: white !important;
}
header {
  padding: 0.5rem 12rem;
}
button {
  background-color: transparent;
  border: unset;
  cursor: pointer;
  font-size: unset;
  text-align: unset;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.navbar-mobile {
  display: none;
}
.adaptive-text-x {
  font-size: clamp(1rem, 5dvw, 2rem);
}
.adaptive-text-m {
  font-size: clamp(0.6rem, 4dvw, 1.5rem);
}
.font-pixel * {
  font-family: Mintsoda;
}
.divider {
  height: 0.1rem;
  margin: 1rem 0;
  background-color: var(--fg-light);
}
@media screen and (max-width: 1024px) {
  main {
    padding: 2rem 6rem;
  }
  header {
    padding: 0.5rem 6rem;
  }
}
@media screen and (max-width: 728px) {
  main {
    padding: 2rem;
  }
  header {
    padding: 0.5rem 2rem;
  }
}
.full-h {
  height: 100%;
}
.full-w {
  width: 100%;
}
.screen-h {
  height: 100dvh;
}
.screen-w {
  width: 100dvw;
}
.ratio-square {
  aspect-ratio: 1/1;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.a-center {
  align-items: center;
}
.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.p-center {
  place-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.overflow-hidden {
  overflow: hidden;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.p-s {
  padding: 0.25rem;
}
.p-m {
  padding: 0.5rem;
}
.p-x {
  padding: 1rem;
}
.p-xl {
  padding: 2rem;
}
.g-s {
  gap: 0.25rem;
}
.g-m {
  gap: 0.5rem;
}
.g-x {
  gap: 1rem;
}
.g-xl {
  gap: 2rem;
}
.g-xxl {
  gap: 3rem;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
header[data-v-e62ee844] {
  height: 3rem;
  width: 100dvw;
  position: fixed;
  background-color: #000;
  z-index: 999;
}
.filler[data-v-e62ee844] {
  height: 3rem;
}
.retro-overlay[data-v-e62ee844] {
  position: fixed;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    #00000038,
    #00000038 2.3px,
    #0000 2.3px,
    #0000 10px
  );
  pointer-events: none;
  animation: scanlines-scroll-e62ee844 15s infinite linear;
  z-index: 999999999;
}
@keyframes scanlines-scroll-e62ee844 {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 100px;
  }
}
.window {
  border: var(--border-width) solid var(--fg-light);
}
.wobbly-text[data-v-2f4c1ac1] {
  opacity: 0;
  position: relative;
  animation:
    wobbly-2f4c1ac1 1s infinite linear,
    reveal-2f4c1ac1 0.1s linear forwards;
}
@keyframes wobbly-2f4c1ac1 {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 2px;
  }
  to {
    bottom: 0;
  }
}
@keyframes reveal-2f4c1ac1 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.profile[data-v-bd368ae0] {
  position: relative;
  background-color: transparent;
  text-align: left;
}
.profile__image[data-v-bd368ae0] {
  height: clamp(3rem, 20dvw, 12rem);
}
.textbox[data-v-bd368ae0] {
  padding-bottom: 3rem;
}
.arrow[data-v-bd368ae0] {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4rem;
  animation: arrow-next-bd368ae0 3s infinite linear;
}
.animated-text[data-v-bd368ae0] {
  opacity: 0;
  position: relative;
  animation:
    wobbly-bd368ae0 1s infinite linear,
    reveal-bd368ae0 0.1s linear forwards;
}
@keyframes reveal-bd368ae0 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes arrow-next-bd368ae0 {
  0% {
    right: 0;
  }
  50% {
    right: 1rem;
  }
  to {
    right: 0;
  }
}
@keyframes wobbly-bd368ae0 {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 2px;
  }
  to {
    bottom: 0;
  }
}
.active[data-v-5b2af48d] {
  background-color: var(--fg-light);
}
.active *[data-v-5b2af48d] {
  color: var(--bg-dark);
}
.inactive[data-v-5b2af48d] {
  opacity: 0.5;
}
.langs-and-socials[data-v-5b2af48d] {
  grid-template-rows: auto 1fr;
}
.selector[data-v-5b2af48d] {
  border-bottom: var(--border-width) solid var(--fg-light);
  grid-template-columns: 1fr 1fr;
}
.selector button[data-v-5b2af48d] {
  padding: 0.2rem 1rem;
}
.content[data-v-5b2af48d] {
  padding: 1rem;
}
.item[data-v-5b2af48d] {
  height: clamp(3rem, 15dvw, 6rem);
  filter: saturate(0);
}
.item[data-v-5b2af48d]:hover {
  filter: none;
  scale: 0.97;
}
.card[data-v-4902b317] {
  grid-template-rows: 1fr 2rem;
}
.card[data-v-4902b317]:hover {
  background-color: var(--fg-light);
}
.card:hover h2[data-v-4902b317],
.card:hover img[data-v-4902b317] {
  filter: invert();
}
.information[data-v-e2881acc] {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .information[data-v-e2881acc] {
    grid-template-columns: 1fr 1fr;
  }
}
.text-title {
  font-size: clamp(2.5rem, 10dvw, 4rem);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: var(--platform-color);
  font-style: italic;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.navbar * {
  padding: 20px;
  font-size: 1.2rem;
  margin: 0 1% 0 1%;
  color: #1d1d1d;
}

.navbar .nav-links:hover {
  background-color: #1d1d1d;
  color: white;
}

.about__title {
  font-weight: bolder;
}

.moodle,
.classroom {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.cloud-button {
  text-align: center;
  background-color: #8fd1c6;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: #343636;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 55px;
  margin-top: 25px;
  max-width: 300px;
  min-width: 300px;
  font-weight: bolder !important;
}

.cloud-button:hover {
  background-color: #7cd1c3;
}

.refetch {
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: bolder;
  color: #1d1d1d;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 300px;
  min-width: 300px;
}

.date-format .day,
.month,
.year {
  font-weight: bolder;
}

.refetch:hover {
  background-color: var(--platform-color);
  /* font-size: 1.2rem; */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.no.assigment {
  border-top: var(--border-top-size) var(--idle-color) solid;
}
.no.assigment a {
  color: var(--idle-color);
}

.assigment {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  margin-top: 2%;
  border-top: var(--border-top-size) var(--platform-color) solid;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 1% 3% 1% 3%;
  min-width: 50vw;
  max-width: 50vw;
}
.assigment * {
  color: var(--bg-dark);
}
.class_subject {
  margin-left: -10px;
}

.link {
  font-weight: bolder;
  text-decoration: underline;
  color: #ffa94d;
  text-shadow: hsl(100%, 1, 1) 4px 4px;
}
.assigment-info {
  font-size: 1.6rem;
}

.text-title * {
  padding: 0;
}
.loading {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2%;
  min-width: 50vw;
  max-width: 50vw;
}

.loading-top {
  font-weight: bolder;
  border-radius: 5px 5px 0 0;
  width: 100%;
  font-size: 1.8rem;
  padding: 5px;
  background-color: var(--idle-color);
}

.loading-top * {
  color: snow !important;
}
.error-header {
  background-color: #f24968;
  font-weight: bolder;
  font-size: 2rem;
  padding: 2%;
  border-radius: 15px 15px 0 0;
  color: snow;
}

#error-message {
  margin: 0;
  background-color: snow;
  color: black;
  padding: 5%;
  font-weight: bolder;
  border-radius: 0 0 15px 15px;
}

.warn {
  display: flex;
  width: 40vw;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 15px;
}

.warn-content {
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.warn-content h1 {
  color: black;
}
.warn-content h1,
button {
  margin-bottom: 5%;
}
.warn-header {
  text-align: center;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 1%;
  border-radius: 15px 15px 0 0;
  background-color: #ffa94d;
}
.refetch.kardex:hover {
  background-color: #ebebeb !important;
  border: none;
}

.warn button {
  font-size: 2rem;
}

.error {
  /* background-color: #d393a4; */
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.65%;
  margin: 10px 0;
  width: 25%;
  border-radius: 15px;
  color: snow;
}

.refresh-button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ramtendo {
  font-weight: bolder;
  color: #ab1d4f !important;
}

.loading * {
  color: var(--bg-dark);
}
.credential {
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  border: 5px #f783ac dashed;
  width: 50vw;
  padding: 2%;
  border-radius: 5px;
  font-size: 2rem;
}
.credential * {
  margin: 10px 0 10px 0;
  color: var(--bg-dark);
}
.upper-credential {
  flex-direction: column;
}
.fields-container {
  display: flex;
  flex-direction: column;
}

.fields-container.values {
  margin-left: 50px;
}
.field-value {
  font-weight: bolder;
  text-decoration: underline;
}
.field-top {
  display: flex;
}

.school-data {
  font-size: 1.2rem;
}
.subject {
  background-color: #fff;
  padding: 2%;
  border-radius: 5px;
  width: 30vw;
  max-width: 30vw;
  border-right: var(--border-top-size) var(--semester-color) solid;
  border-left: var(--border-top-size) var(--semester-color) solid;
  margin: 1%;
}

.subject * {
  color: var(--bg-dark);
}
.subject-result,
.subject-top {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}
.subject-name,
.grade {
  font-weight: 1000;
}
.grade {
  /* text-decoration: underline; */
  font-size: 1.6rem;
  color: var(--background-color);
}
.semester-container {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.subjects-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 5px;
}

.signin-container {
  margin-top: 5%;
}
.signin-form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form input,
.signin-form button {
  margin: 2%;
}

.signin-form input {
  color: black;
  font-size: 1.6rem;
  padding: 2%;
}

.signin-form button {
  border-radius: 5px;
  padding: 15px;
  background-color: var(--semester-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
p {
  margin-top: 5%;
  text-align: justify;
}

.assigment-info p {
  margin: 2% 0;
}
.subjects-filter {
  width: 41vw;
  max-width: 60vw;
}
.subject-filter {
  padding: 0.6%;
  width: 22vw;
  font-size: 1.2rem;
  color: black !important;
}
.subjects-filter select {
  margin: 2% 0 2% 0;
  padding: 1%;
  font-size: 1.2rem;
  background-color: snow;
  border-radius: 10px;
  color: black !important;
}

.subjects-filter span {
  font-size: 1.7rem;
}
#semester-filter {
  margin-top: 5px;
}
.refetch.kardex:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #ccf6d9;
  color: var(--bg-dark);
}
.refetch.credentials {
  margin-top: 1%;
}
.current-location {
  background-color: #1d1d1d;
  border: #1d1d1d 1px solid;
  color: white;
}
.kardex-top {
  display: flex;
}
option {
  color: black;
}
.clipboard {
  cursor: pointer;
  text-decoration: none !important;
}
.copy-span {
  display: flex;
  align-items: center;
}

.clipboard-container * {
  margin: 0;
}

.terms-container {
  width: 38vh;
  height: 20vh;
  overflow: auto;
  font-size: 1.2rem;
}

.accept-fields {
  display: flex;
  align-items: center;
}

.accept-fields label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.accept-fields label input {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin: 0 !important;
}

.accept-fields input {
  height: 25px;
  width: 25px;
  margin: 0 20px 0 0 !important;
}

.checkbox-container {
  font-size: 1.1rem;
}
.terms-text h5 {
  margin-top: 7% !important;
  font-size: 1.4rem !important;
  font-weight: bolder !important;
}
b {
  text-decoration: underline;
  color: var(--semester-color);
  font-size: 1.2rem;
  font-weight: bolder !important;
}
.inactive {
  background-color: gray !important;
  cursor: not-allowed;
}

/* .clipboard-container svg { */
/*   margin-left: 10px; */
/* } */

.gpa {
  font-size: 1.2rem;
}

.message {
  font-weight: bolder;
  border-radius: 5px;
  width: fit-content;
  font-size: 1.5rem;
  padding: 10px;
}

.fade-animation {
  -moz-animation: hideAnimation 0s ease-in 5s forwards;
  -webkit-animation: hideAnimation 0s ease-in 5s forwards;
  -o-animation: hideAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: hideAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    padding: 0;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-moz-keyframes hideAnimation {
  to {
    padding: 0;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes hideAnimation {
  to {
    padding: 0;
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.success {
  background-color: #ccf6d9;
  color: black !important;
}

.todo-main {
  padding: 2rem 0;
  width: 100vw;
}

.fade-in-text {
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: grid;
    visibility: hidden;
  }
}

.accept-label {
  margin: 20px 0;
}

.accept-label input {
  margin: 20px 0;
}

#accept-terms {
  margin-right: 20px !important;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.faq h1 {
  color: white;
}

.faq h2 {
  background-color: white;
  color: black;
  padding: 2%;
  border-radius: 5px;
  width: fit-content;
  margin-top: 5px;
}
.question-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}
#delete-account-container {
  display: flex;
  flex-direction: column;
}
#delete-account-container p {
  margin-top: 15%;
  color: black;
}

#delete-account-button {
  margin-top: 15%;
  padding: 5%;
  color: white;
  background-color: #fb7070;
  border-radius: 5px;
}

.disabled-link {
  pointer-events: none;
}

.error-minified {
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.65%;
  margin: 10px 0;
  border-radius: 5px;
  color: #a52d55;
}
.classroom-id {
  width: 20vw;
  color: black;
}

.classroom-id.user {
  color: var(--fg-light);
  margin: 0;
  padding: 2%;
  font-size: 1.2rem;
}

@media (max-width: 1325px) {
  .todo-container {
    flex-direction: column;
  }
  .task-container {
    min-width: 80vw !important;
    max-width: 80vw !important;
    width: 80vw !important;
  }
  .task-container {
    margin: 5% 0 !important;
  }
  .task {
    margin: 2% 0 !important;
  }
  .cloud-button {
    max-width: 90vw;
    min-width: 80vw;
  }
}

@media (max-width: 799px) {
  .assigment {
    min-width: 90vw;
    max-width: 90vw;
    padding: 1.5rem;
  }
  .subject {
    --border-top-size: 5px;
    width: 45vw;
    max-width: 45vw;
  }
  .subjects-container {
    margin: 50px 0;
  }
  .subject * {
    font-size: 0.5rem;
  }
  .subject-filter {
    width: 100%;
  }
  .semester-filter {
    width: 100%;
  }
  .refetch-gpa {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .refetch-gpa * {
    font-size: 0.8rem;
  }
  .refetch-gpa button {
    width: 50% !important;
    max-width: 50%;
    min-width: 50%;
  }
  .subjects-filter {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }
  .kardex-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    padding: 1rem 0;
  }
  .navbar {
    display: none;
    position: absolute;
    width: 100vw;
  }
  .navbar-mobile {
    display: flex;
    position: fixed;
    background-color: #1d1d1d;
    width: 100vw;
    bottom: 0;
  }
  .navbar-mobile * {
    color: white;
    padding: 3%;
    /* incredible responsive design */
    font-size: 8.2vw !important;
  }
  #hamburger {
    display: flex;
    margin-left: auto;
  }
  .head-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-title * {
    font-size: 2rem;
  }
  main .text-title * {
    font-size: 3.5rem !important;
    color: white !important;
  }
  .main {
    padding: 0;
  }
  main .text-title {
    margin: 2% 0 5% 0;
  }
  #hamburger {
    width: 35px;
    height: 30px;
    margin: 45px 30px;
    position: absolute;
    left: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
  #hamburger span {
    background-color: black;
    position: absolute;
    border-radius: 2px;
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    padding: 0;
    margin: 0;
    transition-duration: 150ms;
  }
  #hamburger span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  #hamburger span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }
  #hamburger span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  #hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }
  #hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  #hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
  .week * {
    font-size: 1.35vw !important;
  }
  .loading {
    margin-bottom: 75px;
  }
  .day-calendar {
    width: 51px !important;
    height: 60px !important;
  }
  .event-text.administrative,
  .event-text.extraordinaries,
  .event-text.inscriptions,
  .event-text.reinscriptions,
  .event-text.log_records.school,
  .event-text.begin,
  .event-text.new_admission_call {
    font-weight: bolder;
    font-size: 0.76vw !important;
  }
  .simbology-container {
    padding: 5%;
  }
  .simbology {
    flex-direction: column;
  }
  .week-day-container {
    font-size: 1.6rem !important;
  }
  .begin {
    border: 2px white solid !important;
  }
  .end {
    border: 2px #d5b22f solid !important;
  }
  .end h1,
  .begin h1 {
    border: none !important;
  }
  .month-container *,
  .year-container * {
    font-size: 2rem !important;
  }
  .credential {
    width: 90vw;
    padding: 6%;
  }
  .credential * {
    font-size: 3vw;
  }
  .refetch.credentials {
    margin-top: 15px;
  }
  .field-top {
    display: flex;
    flex-direction: column;
  }
  .field-name,
  .field-value {
    margin: 0;
  }
  .date,
  .title {
    font-size: 3.5vw !important;
  }
  .class_subject {
    font-size: 5vw !important;
  }
  .date {
    margin-top: 5%;
  }
  .assigment-info p {
    margin: 3% 0;
  }
  .assigment-info-container * {
    font-size: 1.6rem;
  }
  .loading {
    min-width: 90vw;
    max-width: 90vw;
  }
  .refetch {
    min-width: 100%;
    max-width: 100%;
  }
  .refetch.credentials {
    min-width: 70%;
    max-width: 70%;
  }
  .simbology * {
    font-size: 1.5rem !important;
  }
  .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signin-form h1 {
    text-align: center;
  }
  .signin-form label {
    font-size: 1.3rem;
  }
  .signin-form input {
    margin: 2% !important;
  }
  /* .terms-container { */
  /*   width: 85%; */
  /* } */
  .classroom-id.user {
    width: 62vw;
  }
  .faq h1 {
    font-size: 1.5rem;
  }
  .faq h2 {
    font-size: 1rem;
  }
  .current-location {
    border: none;
    background-color: white;
    color: black;
  }
  .settings-button {
    margin: 5%;
    font-size: 1.2rem;
    width: 50vw;
  }
  .classroom-id {
    width: 50vw;
  }
  .error {
    width: 80vw;
    padding: 17px;
    font-size: 1rem;
  }
  .check-label input {
    margin-right: 15px;
  }
  .message.success {
    margin-bottom: 50px;
  }
  .error {
    width: 98vw;
  }
  .error-header {
    padding: 5%;
  }
  #error-message {
    font-size: 1.2rem !important;
    padding: 5%;
  }
  .floating-window {
    top: 15%;
    width: 90vw;
    height: 60vh;
    padding: 5%;
  }
  .settings-container {
    align-items: center;
  }
  .danger.settings-button {
    margin-bottom: 100px;
  }
}
